{% extends 'base.html' %}

{% block title %}Adicionar Cliente{% endblock title %}

{% block content %}
    <h1>Adicionar cliente</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>
        <div class="mb-3">
            {{ form.contato.label_tag }}
            {{ form.contato }}
        </div>
        <div class="mb-3 form-check">
            <label for="{{ form.flag_mensageiro.auto_id }}" class="form-check-label">{{ form.flag_mensageiro.label }}</label>
            {{ form.flag_mensageiro }}
            <div id="mensageiro_select" class="mt-3">
                {{ form.mensageiro.label_tag }}
                {{ form.mensageiro }}
            </div>
        </div>

        <a href="{% url 'home:home' %}" class="btn btn-danger">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-primary float-end">
    </form>

    <hr>

    {% if clientes %}
        <table class="table table-striped">
            <h5>Clientes cadastrados</h5>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Contato</th>
                    <th>Mensageiro</th>
                    <th class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td>
                        <a href="{% url 'cliente:editarcliente' cliente.id %}">
                            {{ cliente.nome }}
                        </a>
                    </td>
                    <td>{{ cliente.contato }}</td>
                    <td>{{ cliente.mensageiro.nome }}</td>
                    <td>
                        <div class="btn-group float-end">
                            <a href="{% url 'cliente:editarcliente' cliente.id %}" class="btn btn-primary">&#x270D;</a>
                            <a href="{% url 'cliente:removercliente' cliente.id %}" class="btn btn-danger">&#x267B;</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Nenhum cliente cadastrado no momento</h3>
    {% endif %}

{% endblock content %}