{% extends 'base.html' %}

{% block title %}Editar Cliente{% endblock title %}

{% block content %}
    <h1>Editar cliente</h1>
    <div class="text-end mb-3">
        <a href="{% url 'cliente:removercliente' cliente.id %}" class="btn btn-danger">Remover cliente</a>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>
        <div class="mb-3">
            {{ form.contato.label_tag }}
            {{ form.contato }}
        </div>
        <div class="mb-3 form-check">
            <label for="{{ form.flag_mensageiro.auto_id }}" class="form-check-label">{{ form.flag_mensageiro.label }}</label>
            {{ form.flag_mensageiro }}
            <div id="mensageiro_select" class="mt-3">
                {{ form.mensageiro.label_tag }}
                {{ form.mensageiro }}
            </div>
        </div>

        <a href="{% url 'cliente:novocliente' %}" class="btn btn-danger">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-primary float-end">
    </form>

{% endblock content %}