{% extends 'base.html' %}

{% block title %}Status de serviço{% endblock %}

{% block content %}
    <h1>Adicionar status de serviço</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" name="nome" maxlength="20">
        </div>
        <a href="{% url 'home:config' %}" class="btn btn-danger">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-success float-end">
    </form>
{% endblock %}