{% extends 'base.html' %}

{% block title %}Adicionar Serviço{% endblock title %}

{% block content %}
    <h1>Adicionar serviço</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}

            {% if field == form.pago %}
                <div class="mb-3 form-check d-none">
                    <label for="{{ field.auto_id }}" class="form-check-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% elif field == form.valor %}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">R$</span>
                    {{ field }}
                </div>
            {% else %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endif %}

        {% endfor %}

        <a href="{% url 'home' %}" class="btn btn-danger">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-primary float-end">
    </form>

    <hr>

    {% if servicos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Servico</th>
                    <th>Valor</th>
                    <th>Pago</th>
                    <th>Andamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for servico in servicos %}
                    <tr>
                        <td>
                            {% if servico.cliente %}
                                <a href="{% url 'editarcliente' servico.cliente %}">{{ servico.nome }}</a>
                            {% else %}
                                {{ servico.nome }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'editarservico' servico.id %}">{{ servico.tipo }}</a>
                        </td>
                        <td class="text-right">R$ {{ servico.valor|floatformat:2 }}</td>
                        <td>
                            <select class="form-select" id="pago">
                                <option value="1" {% if servico.pago is True %}selected=""{% endif %}>Sim</option>
                                <option value="0" {% if servico.pago is False %}selected=""{% endif %}>Não</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="status">
                                {% for stat in status %}
                                    <option value="{{ stat.id }}" {% if servico.status == stat.id %}selected=""{% endif %}>{{ stat.nome }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="text-end">
                            <div class="btn-group">
                                <a href="{% url 'editarservico' servico.id %}" class="btn btn-primary" title="Editar">&#x270D;</a>
                                <a href="{% url 'removerservico' servico.id %}" class="btn btn-danger" title="Deletar">&#x267B;</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <td class="text-right" title="Total bruto"><strong>Tb: R$ {{ total|floatformat:2 }}</strong></td>
                    <td class="text-right" title="Total líquido" colspan="3"><strong>Tl: R$ {{ liquido|floatformat:2 }}</strong></td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h3>Nenhum serviço cadastrado no momento</h3>
    {% endif %}

{% endblock content %}
