{% extends 'base.html' %}

{% block title %}Adicionar Cliente{% endblock title %}

{% block content %}
    <h1>Adicionar cliente</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}

            {% if field == form.flag_mensageiro %}
                <div class="mb-3 form-check">
                    <label for="{{ field.auto_id }}" class="form-check-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% else %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endif %}

        {% endfor %}

        <a href="{% url 'home' %}" class="btn btn-danger">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-primary float-end">
    </form>

    <hr>

    <table class="table table-striped">
        <h5>Clientes cadastrados</h5>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Contato</th>
                <th>Mensageiro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>
                    <a href="{% url 'editarcliente' cliente.id %}">
                        {{ cliente.nome }}
                    </a>
                </td>
                <td>{{ cliente.contato }}</td>
                <td>{{ cliente.mensageiro_nome }}</td>
                <td>
                    <div class="btn-group float-end">
                        <a href="{% url 'editarcliente' cliente.id %}" class="btn btn-primary">&#x270D;</a>
                        <a href="{% url 'removercliente' cliente.id %}" class="btn btn-danger">&#x267B;</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block scripts %}
    const toggle_mensageiro = () => {
        let flag_mensageiro = document.querySelector('#id_flag_mensageiro')
        let mensageiro = document.querySelector('#id_mensageiro')
        let label_mensageiro = document.querySelector('label[for="id_mensageiro"]')

        if (flag_mensageiro.checked)
            label_mensageiro.style.display = mensageiro.style.display = 'block'
        else {
            label_mensageiro.style.display = mensageiro.style.display = 'none'
            mensageiro.value = ''
        }
    }

    window.onload = () => {
        toggle_mensageiro()

        document.querySelector('#id_flag_mensageiro').onchange =
            () => toggle_mensageiro()
    }
{% endblock %}
