{% extends 'base.html' %}

{% block title %}Adicionar Cliente{% endblock title %}

{% block content %}
    <h1>Adicionar serviço</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}

            {% if field == form.pago %}
                <div class="mb-3 form-check">
                    <label for="{{ field.auto_id }}" class="form-check-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% elif field == form.valor %}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">R$</span>
                    {{ field }}
                </div>
            {% else %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endif %}

        {% endfor %}

        <div class="mb-3">
            <select class="form-select" id="id_pago" name="pago">
                <option value="1" {% if servico.pago is True %}selected{% endif %}>Sim</option>
                <option value="0" {% if servico.pago is False %}selected{% endif %}>Não</option>
            </select>
        </div>

        <div class="mb-3">
            <select class="form-select" id="id_status" name="status">
                {% for stat in status %}
                    <option value="{{ stat.id }}" {% if servico.status == stat.id %}selected=""{% endif %}>{{ stat.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <a href="{% url 'home' %}" class="btn btn-danger">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-primary float-end">
    </form>

{% endblock content %}
