{% extends 'base.html' %}

{% block content %}
    <h1>Controle de serviços</h1>
    <div class="btn-group" role="group">
        <a href="{% url 'novocliente' %}" class="btn btn-primary mb-3">&#x1F465; Clientes</a>
        <a href="{% url 'novoservico' %}" class="btn btn-primary mb-3">&#x1F4E6; Serviços</a>
        <a href="{% url 'relatorio' %}" class="btn btn-primary mb-3">&#x1F4B2; Relatório</a>
        <a href="admin" class="btn btn-secondary mb-3" target="_blank">&#x1F527; Configurações</a>
    </div>
{% endblock content %}
