{% extends 'base.html' %}

{% block title %}Remover cliente{% endblock title %}

{% block content %}
<h3>Tem certeza que deseja remover o cliente?</h3>
<p>ID: {{ cliente.id }}</p>
<p>Nome: {{ cliente.nome }}</p>
<p>Contato: {{ cliente.contato }}</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="cliente_id" value="{{ cliente.id }}">
    <a href="{% url 'home' %}" class="btn btn-danger">Não</a>
    <button type="submit" class="btn btn-primary float-end">Sim</button>
</form>
{% endblock content %}
